header {
    width: 100%;
    color: white;
    background: #343a40;
    text-align: center;
    font-weight: bolder;
    padding: .75em;
}


.search-holder {
    padding-right: 6em;
}

.city-history {
    height: 100%;
    width: 100%;
    background: #f8f9fa;
    padding-bottom: 1.5em;
    /* background: blue; */
}

.city-display {
    height: 100%;
    display: flex;
    /* background: red; */
}

.city-item {
    padding : .5em 0em;
}

.card-body {
    width: 100%;
}

.btn-danger{
    padding: 0.3em;
}

